In [9]:
import pandas as pd
from sklearn import preprocessing
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [2]:
path = 'Desktop/NBA_player_of_the_week.csv'

In [3]:
df = pd.read_csv(path)

In [6]:
new_df = df[['Age', 'Height CM', 'Weight KG']]

In [7]:
scaler = preprocessing.StandardScaler()
standardized_data = scaler.fit_transform(new_df)
    
standardized_df = pd.DataFrame(standardized_data, columns=['Height', 'Weight', 'Age'])

In [10]:
standardized_df.describe()

          Height     Weight        Age
count 1340.00000 1340.00000 1340.00000
mean    -0.00000   -0.00000   -0.00000
std      1.00037    1.00037    1.00037
min     -2.27629   -2.78410   -2.38357
25%     -0.80545   -0.86194   -0.59862
50%     -0.21711   -0.00765   -0.17024
75%      0.66539    0.73986    0.82934
max      3.90124    2.98237    3.25687